Data
src/EAF
.vscode
src/models
src/EAF_2labels
notebook
.DS_Store
__pycache__
notes.md
Annotations
Images
Visualisations
inputs
outputs
results_train
results_ROC
logs
.gitlab-ci.yml
uploads
gluon-cv
src/app/models
**.params
Style
Style2
Results
test_Style
VOC2021
EAF
presence