numpy==1.19.5
fire==0.4.0
pydantic==1.7.3
tensorflow==2.4.1
keras_ocr==0.8.6
mxnet==1.7.0.post1
tensorflow_hub==0.11.0
scipy==1.6.0
matplotlib==3.3.3
gluoncv==0.8.0
opencv_python==4.5.1.48
fastapi==0.63.0
Pillow==8.1.0
scikit_learn==0.24.1
Trainer==0.0.1
python-multipart